################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
test/Content/obj/
test/Content/bin/
test/obj/
test/bin/
/test/Properties/PublishProfiles
/test/test.csproj.user
