################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/
.vs/
Assets/Content/bin/
Assets/Content/obj/
bin/
test/